# Python
venv/
__pycache__/
*.pyc

# Large model files
models/embeddings.npy
models/feedback.json

# Dataset
data/arxiv_data.csv
data/arxiv_data.parquet
data/arxiv-metadata-oai-snapshot.json

# Node
frontend/node_modules/
frontend/dist/